#pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

.titleElement {
    text-align: center;
}

#contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#controllerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: center;
    flex: 1;
}

#controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    box-shadow: 0px 0px 16px black;
    text-align: center;
    border-radius: 8px;
}

.controlPanelHeader {
    border-bottom: 1px solid black;
}

.controlPanelHeader h4 {
    margin: 0;
}

.controllerSpacer {
    display: flex;
    flex: 1;
}

.controlPanelSpacer {
    display: flex;
    flex: 1;
}

.controlPanelContainer {
    display: flex;
    flex-direction: row;
}

#sliderContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#sliderContainer input {
    width: 50%;
}

#canvasColorPickerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#penColorPickerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#gridCheckBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#randomColorsCheckBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    flex: 1;
    box-shadow: 0px 0px 16px black;
    border-radius: 8px;
}

#spacerContainer {
    display: flex;
    flex: 1;
}

#canvas {
    display: flex;
    border: solid black 5px;
    width: 40vw;
    flex-direction: column;
    cursor: crosshair;
    border-radius: 8px;
}

.canvasRow {
    display: flex;
}

.canvasSpace {
    box-sizing: border-box;
    border: solid black .5px;
    aspect-ratio: 1;
    flex: 1;
}

#footerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    justify-content: flex-end;
}

