#canvas {
    display: flex;
    border: solid black 5px;
    width: 40vw;
    flex-direction: column;
    cursor: crosshair;
}

.canvasRow {
    display: flex;
}

.canvasSpace {
    box-sizing: border-box;
    border: solid black .5px;
    aspect-ratio: 1;
    flex: 1;
}